@import "common.css";

.top {
  background-color: var(--background-top-color);
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  padding: 80px 24px 80px;
}

h1,
h2 {
  font-family: "Permanent Marker", cursive;
  font-size: 20px;
  color: var(--titles-color);
}

.top__subtitle {
  font-family: "Rubik", sans-serif;
  font-size: 56px;
  color: var(--text-light-color);
  font-weight: bold;
  padding-top: 30px;
  min-height: 100px;
}

.top__title {
  padding-bottom: 80px;
}

.top__description {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: var(--text-light-color);
  font-weight: 600;
  line-height: 1.6;
}

.about {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.about__img img {
  height: 100%;
  object-fit: cover;
}

.about__article {
  padding: 90px 30px 90px;
  display: grid;
  grid-template-rows: 30px 2fr 2.5fr 5fr;
  align-items: center;
}

.about__article-subtitle {
  font-family: "Rubik", sans-serif;
  font-size: 56px;
  font-weight: bold;
  color: var(--text-big-color);
}

.about__article-description {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
  color: var(--text-medium-color);
}

.about__article-text {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  line-height: 1.5;
  color: var(--text-small-color);
}

@media (min-width: 768px) {
  .top {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .top__title {
    flex: 40%;
    max-width: 480px;
    padding-bottom: 0;
  }

  .top__description {
    flex: 60%;
    max-width: 780px;
    align-self: center;
  }

  .top__description-text {
    max-width: 600px;
  }

  .about {
    display: ;
    grid-template-columns: 1fr 1fr;
  }
}
