@import "common.css";
@import "header.css";
@import "footer.css";

.main-about-page img {
  display: block;
  width: 100%;
}

.top {
  background-color: var(--background-top-color);
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  padding: 80px 24px 80px;
}

.main-about-page h1,
h2 {
  font-family: "Permanent Marker", cursive;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--titles-color);
}

.top__subtitle {
  font-family: "Rubik", sans-serif;
  font-size: 56px;
  color: var(--text-light-color);
  font-weight: bold;
  padding-top: 16px;
}

.top__description {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  color: var(--text-light-color);
  font-weight: 600;
  line-height: 1.6;
  padding-top: 60px;
}

.about {
  display: grid;
}

.about__img img {
  height: 100%;
  object-fit: cover;
}

.about__article {
  padding: 60px 30px 30px 30px;
  max-width: 670px;
  min-width: 300px;
  max-height: 80%;
  display: grid;
  grid-template-rows: 30px 1fr 1fr 2fr;
  align-items: last baseline;
}

.about__article-subtitle {
  font-family: "Rubik", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--text-big-color);
  padding-bottom: 25px;
}

.about__article-description {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.6;
  color: var(--text-medium-color);
}

.about__article-text {
  font-family: "Lato", sans-serif;
  font-size: 1.06rem;
  line-height: 1.5;
  margin-top: 24px;
  color: var(--text-small-color);
}

.team {
  background-color: var(--background-medium-color);
  padding-top: 30px;
  padding: 30px 30px 30px 30px;
}

.team div.container {
  display: flex;
  flex-direction: column;
}

.team__carousel-box {
  display: flex;
  flex-direction: row;
  position: relative;
}

.team__carousel {
  display: flex;
  flex-direction: row;
}

.team__carousel-item {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.team__carousel-item h3 {
  font-size: 1.375rem;
  color: var(--text-medium-color);
  padding: 20px 0 0;
}

.team__carousel-item p {
  font-size: 1.06rem;
  color: var(--text-small-color);
  padding: 20px 0 0;
}

.team__carousel-item img {
  border-radius: 8px;
}

.team__prev_button {
  height: 32px;
  width: 32px;
  background-color: var(--button-color);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 30%;
  bottom: 70%;
  transform: scaleX(-1);
}

.team__next_button {
  height: 32px;
  width: 32px;
  background-color: var(--button-color);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 30%;
  bottom: 70%;
}

.button-arrow {
  fill: var(--text-light-color);
}

.team__prev_button:hover {
  background-color: var(--background-top-color);
}

.team__next_button:hover {
  background-color: var(--background-top-color);
}

.team__article {
  padding: 60px 30px 30px 30px;
  min-width: 380px;
  max-height: 80%;
  display: grid;
  grid-template-rows: 30px 1fr 1fr 2fr;
  align-items: last baseline;
}

.team__subtitle {
  font-family: "Rubik", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--text-big-color);
}

.team__description {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.6;
  color: var(--text-medium-color);
}

.team__article-text {
  font-family: "Lato", sans-serif;
  font-size: 1.06rem;
  line-height: 1.5;
  color: var(--text-small-color);
}

.team__article-text p {
  padding-top: 25px;
}

@media (min-width: 768px) {
  .top {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .top__title {
    flex: 40%;
    max-width: 480px;
    padding-bottom: 0;
    justify-content: baseline;
  }

  .top__description {
    flex: 60%;
    max-width: 780px;
    align-self: center;
    padding-top: 0;
  }

  .top__description-text {
    max-width: 600px;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about__img {
    min-height: 665px;
  }

  .team div.container {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 991px) {
  .about__article {
    padding-left: 15%;
  }

  .team {
    background-image: url("../img/background-leaf.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1500px auto;
    background-position-y: bottom;
    background-position-x: 40%;
    padding-top: 40px;
    padding-bottom: 0;
  }

  .team div.container {
    display: flex;
    flex-direction: row;
  }
}
