@import "common.css";
@import "header.css";
@import "footer.css";

iframe {
  max-width: 100%;
  overflow: hidden;
}

h2 {
  font-family: "Permanent Marker";
  color: rgb(231, 39, 45);
  font-size: 16px;
  margin: 10px 0px 10px 0px;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-size: 38px;
  margin: 10px 0px 10px 0px;
}

.centered-text {
  text-align: center;
}

.centered-image {
  display: block;
  height: 40px;
  width: 40px;
  margin: auto;
}

.circle-icon {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--circle-background-icon);
  display: flex;
  justify-content: center;
}

.circle-image {
  display: inline;
  width: auto;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.catering-advertisement__section,
.catering-options-wrapper {
  padding: 90px 30px;
}

.catering-advertisement__section-wrapper,
.catering-options__section {
  padding: 0px 15px;
}

div.catering-advertisement__list {
  display: flex;
  flex-direction: column;
  background-color: tomato;
}

.catering-advertisement__list-item {
  display: grid;
  grid-template-columns: 1fr 100fr;
  margin: 10px 0px 10px 0px;
  background-color: chartreuse;
}

div.catering-advertisement__list-item img {
  background-color: aqua;
}

div.catering-advertisement__list-item p {
  background-color: yellow;
}

div.catering-advertisement__picture img {
  display: block;
  width: 100%;
}

.catering-advertisement__title {
  font-family: "Permanent Marker";
  color: var(--h2-color);
  font-size: 16px;
  margin: 10px 0px 10px 0px;
}

.catering-advertisement__subtitle {
  font-family: "Rubik", sans-serif;
  font-size: 38px;
  margin: 10px 0px 10px 0px;
}

.catering-advertisement__text {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  margin: 10px 0px 10px 0px;
}

.catering-advertisement__list-item {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: bold;
}

.catering-advertisement__additional-text {
  font-family: "Lato", sans-serif;
  color: var(--additional-text);
  font-size: 17px;
  margin: 10px 0px 10px 0px;
}

.catering-options-wrapper {
  /* background-size: cover; */
  /* background-attachment: fixed; */

  background-image: url("../img/img-for-catering/beige-background-with-mushroom.jpg");

}

.catering-options__text {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
  color: var(--options-text-color);
  line-height: 40px;
}

.catering-options-list__item-title {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  margin: 10px 0px 10px 0px;
  color: var(--options-header-name);
}

.catering-options-list__item-text {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  margin: 10px 0px 10px 0px;
  color: var(--options-text-paragraph);
  line-height: 30px;
}

.catering-request-wrap {

  background-image: url("../img/img-for-catering/burger-background.jpg");
  height: 500px;
}

.catering-request-rounded-corners {
  background-color: #FFFFFF;
  border-radius: 10px;
  border-width: 20px;
  border-color: blue;
  margin: auto;

}

/* верхній блок i блок map  */
.motto {
  background: var(--header-container-background);

}

.motto__container {
  max-width: 1200px;
  margin: auto;
}

.motto__brand {
  margin: 0px !important;

}

.motto__subtitle {
  color: var(--text-light-color) !important;
}