@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Permanent+Marker&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.catering-advertisement__picture {
    display: block;
    width: 100%;
}
div.catering-advertisement__picture img {
    display: block;
    width: 100%;
}
.container {
    max-width: 100%;
    margin: auto;
}
/* .catering-advertisement {
    display: flex;
} */
.catering-advertisement__title{
    font-family:'Permanent Marker';
    color: rgb(231, 39, 45);
    font-size: 16px;
}
.catering-advertisement__subtitle{
    font-family: "Rubik", sans-serif;
    font-size: 38px;
    
}
.catering-advertisement__text{
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    
}
.catering-advertisement__list-item{
    font-family: "Rubik", sans-serif;
    font-size: 17px;
    font-weight: bold;
}
.catering-advertisement__additional-text{
    font-family: "Rubik", sans-serif;
    color:  rgb(103,103,103);
    font-size: 17px;
}