@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Lato, sans-serif;
  --weekly-color-main: #fbbe36;
  --weekly-title-color: #ffffff;
  --weekly-description-color: rgb(69, 69, 69);
  --weekly-link-color: black;
  /* about-page.html */
  --background-top-color: #fbbe36;
  --background-medium-color: #fbf7ec;
  --titles-color: #e7272d;
  --text-light-color: white;
  --text-small-color: #676767;
  --text-big-color: #454545;
  --text-medium-color: #282623;
  /* about-page.html */
}

img {
  display: block;
  width: 100%;
}

.section-title {
  font-family: Rubik, sans-serif;
  font-weight: bold;
}
/* перенести .secton-title в свій css файл */


a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}
