@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  /*header*/
  --header-top-background: rgb(239, 173, 24);
  --header-container-background: #fbbe36;
  --header__navicon: #282623;
  --light-top-color: #ffffff;
  --menu-color-link: rgb(79, 80, 71);
  --active-menu-color-link: #6a6b61;
  --menu-color-link-hover: #e7272d;
  /*hero*/
  --hero__title: #e7272d;
  --hero__slogan-color:#ffffff;
  --hero__information: #4f5047;
  --hero__light-btn-color: #ffffff;
  --hero__btn-border: #e7272d;
  --hero__btn-color: #e7272d;
  --hero-container-background: #fbbe36;
  --hero__btn-border-hover: #282623;
  --hero__btn-background-hover: #282623;
  --hero__phone-text:#ffffff;
  --hero__text-animation: rgba(255, 255, 255, 0);
  --hero__phone-tel: #282623;
  /*about-us*/
  --about-us-container-background: #ffffff;
  --about-us-color-suptitle: #282623;
  --about-us-color-desc: rgb(79, 80, 71);
  --about-us-color-title: #e7272d;
  --about-us-color-text: rgb(103, 103, 103);

  /*weekly*/
  --weekly-color-main: #fbbe36;
  --weekly-title-color: #ffffff;
  --weekly-description-color: rgb(69, 69, 69);
  --weekly-link-color: black;
  /* about-page.html */
  --button-color: #fbbd3682;
  --background-top-color: #fbbe36;
  --background-medium-color: #fbf7ec;
  --titles-color: #e7272d;
  --text-light-color: white;
  --text-small-color: #676767;
  --text-medium-color: #454545;
  --text-big-color: #282623;
  /* about-page.html */
  /* menu.html */
  --background-menu-color: #fbbe36;
  --h2-span-color: #e7272d;
  --ui-light-accent-color: white;
  --p-menu-burgers-title: rgb(103, 103, 103);
  --bottom-box-button-hover: rgb(40, 38, 35);
  --menu-icon-title-color-text: rgb(69, 69, 69);
  --menu-burgers-name-h3-color: rgb(40, 38, 35);
  /* menu.html */
  /* catering-page.html */
  --circle-background-icon: #efece3;
  --h2-color: rgb(231, 39, 45);
  --additional-text: rgb(103, 103, 103);
  --options-background: rgb(251 247 236);
  --options-text-color: #454545;
  --options-header-name: #282623;
  --options-text-paragraph: #676767;
  /*index-form-partial*/
  --form-background-color: #fff;
  --h2-form-color: rgb(231, 39, 45);
  --form-description-color: rgb(69, 69, 69);
  --input-fields-color: #fbf7ed;
  --input-words-color: rgb(40, 38, 35);
  --form-button-color: rgb(231, 39, 45);
  --form-button-text-color: white;
  --from-button-hover-color:#282623;
  /* about.our-track.html */
  --h2-our-track-color: rgb(231, 39, 45);
  --subtitle-text-color: rgb(40, 38, 35);
  --our-track-description-color: rgb(103, 103, 103);
  /* about.food-excellence.html */
  --background-text-block-color: rgba(20, 10, 10, 0.66);
  --h2-food-excellence-color: rgb(231, 39, 45);
  --subtitle-food-excellence-text-color: rgb(255, 255, 255);
  --food-excellence-main-description-color: rgb(173, 173, 173);
  --food-excellence-description-color: rgb(136, 136, 136);
  /* contacts-page */
  --contacts-background-header-color: #fbbe36;
  --contacts-first-column-text-color: #e7272d;
  --contacts-text-color-white: #fff;
  --contacts-background-body-color: #fbf7ed;
  --contacts-card-title-color: #282623;
  --contacts-card-text-color: #676767;
  --contacts-outline-input-color: #3b99fc;
  /* contacts-page */
  /* index-burgers-partial */
  --index-burgers-partial-top-text-color: #e7272d;
  --index-burgers-partial-title-color: #282623;
  --index-burgers-partial-bottom-text-color: #454545;
  --index-burgers-background-body-color: #fbf7ed;
  --index-burgers-gray-text-color: #676767;
  /* index-burgers-partial */
}

/* img {
  display: block;
  width: 100%;
} */

.section-title {
  font-family: Rubik, sans-serif;
  font-weight: bold;
}
/* перенести .secton-title в свій css файл */

a {
  text-decoration: none;
}

li {
  list-style: none;
}


.fixed-body {
  width: 100%;
  position: fixed;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .container {
      padding: 0 20px;
  }
}

@media (min-width: 992px) {
  .container {
      padding: 0 30px;
  }
}

@media (min-width: 1400px) {
  .container {
      padding: 0 40px;
  }
}
