@import "common.css";
@import "header.css";
@import "footer.css";

.contacts-page__header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 80px 0 65px;
    justify-content: center;
    background-color: var(--contacts-background-header-color);
}

.contacts-page__header__first-column {
    width: 550px;
    height: 100px;
    padding: 0 45px;
}

.contacts-page__header__first-column__text {
    height: 25px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Permanent Marker', cursive;
    color: var(--contacts-first-column-text-color);
}

.contacts-page__header__first-column__title {
    font-size: 56px;
    font-weight: 700;
    padding: 15px 0 0 0;
    font-family: 'Rubik', sans-serif;
    color: var(--contacts-text-color-white);
}

.contacts-page__header__second-column__text {
    padding: 0 15px;
    font-size: 20px;
    font-weight: 600;
    max-width: 700px;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
    color: var(--contacts-text-color-white);
}

.contacts-page__sections-divider {
    background-color: var(--contacts-background-body-color);
}

.cropped-background-image {
    width: 100%;
    height: 60px;
    object-fit: cover;
}

.contacts-page__section-of-proposed-actions {
    padding: 90px 0 0 0;
    background-color: var(--contacts-background-body-color);
}

.cards-container {
    display: flex;
    justify-content: center;
}
  
.card {
    margin: 10px 30px 10px 30px;
    width: 350px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
    background-color: var(--contacts-text-color-white);
}
 
.card img {
    margin: 20px 0 0 0;
    height: 70px;
    width: 70px;
}

.card h3 {
    margin: 20px 0 0 0;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    color: var(--contacts-card-title-color);
}
  
.card p {
    font-size: 17px;
    line-height: 1.5;
    margin: 20px 0 0 0;
    font-family: 'Lato', sans-serif;
    color: var(--contacts-card-text-color);
}

.card h4 {
    font-size: 17px;
    line-height: 1.5;
    font-weight: bold;
    margin: 20px 0 20px 0;
    font-family: 'Lato', sans-serif;
    color: var(--contacts-card-title-color);
}

.contacts-page__map-section {
    padding: 50px 0 0 0;
    background-color: var(--contacts-background-body-color);
}

.contacts-page__google-maps {
    display: flex;
    align-items: center;
    padding: 0 0 60px 0;
    flex-direction: column;
    justify-content: center;
}

.contacts-page__google-maps iframe {
    width: 80%;
    height: 530px;
    filter: grayscale();
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
}

.contacts-page__footer {
    padding: 60px 0 110px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--contacts-background-body-color);
}

.weekly-schedule {
    width: 400px;
    margin-left: 20px;
}

.weekly-schedule p {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Permanent Marker', cursive;
    color: var(--contacts-first-column-text-color);
}

.weekly-schedule h3 {
    font-size: 36px;
    font-weight: 700;
    padding: 20px 0 0 0;
    font-family: 'Rubik', sans-serif;
    color: var(--contacts-card-title-color);
}

.schedule-dates h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: var(--contacts-card-title-color);
}

.schedule-dates p {
    font-size: 17px;
    font-weight: bold;
    line-height: 1.5;
    padding: 5px 0 0 0;
    font-family: 'Lato', sans-serif;
    color: var(--contacts-card-title-color);
}

.schedule-dates h4 {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    color: var(--contacts-card-text-color);
}

.weekly-schedule-sequel {
    padding: 90px 0 0 0;
}

.weekly-schedule-sequel .schedule-dates h3 {
    padding: 20px 0 0 0;
}

.weekly-schedule-sequel .schedule-dates .spacer {
    padding: 10px 0 0 0;
}

.subcribe-form .card h3{
    font-size: 36px;
}

.subcribe-form .form {
    padding: 25px 0 0 0;
}

.form-group {
    margin: 15px 0 15px 0;
  }

.form-group label {
    display: block;
    margin-bottom: 5px;
}
  
.form-group input[type="text"],
.form-group input[type="phone"],
.form-group input[type="email"] {
    border: 0;
    width: 90%;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 13px 25px 13px 25px;
    background-color: var(--contacts-background-body-color);
}

.form-group input[type="text"]::placeholder,
.form-group input[type="phone"]::placeholder,
.form-group input[type="email"]::placeholder {
    opacity: 0.5;
    font-size: 15px;
    color: var(--contacts-card-title-color);
}

.form-group input[type="text"]:focus,
.form-group input[type="phone"]:focus,
.form-group input[type="email"]:focus {
    outline: auto;
    outline-color: var(--contacts-outline-input-color);
}
  
.form-group button[type="submit"] {
    border: 0;
    width: 90%;
    font-size: 15px;
    cursor: pointer;
    font-weight: 700;
    margin: 20px 0 20px 0;
    border-radius: 20px;
    padding: 11px 22px 11px 22px;
    font-family: 'Lato', sans-serif;
    color: var(--contacts-text-color-white);
    background-color: var(--contacts-first-column-text-color);
}

.form-group button[type="submit"]:hover {
    transition-delay: 0.2s;
    background-color: var(--contacts-card-title-color);
}

@media (max-width: 960px) {
    .contacts-page__header__first-column {
        width: 500px;
    }

    .contacts-page__header__first-column__text {
        font-size: 18px;  
    }

    .contacts-page__header__first-column__title {
        font-size: 47px;
    }

    .card h3 {
        font-size: 27px;
    }

    .weekly-schedule .weekly-schedule-p {
        font-size: 18px;
    }

    .weekly-schedule .weekly-schedule-h3 {
        font-size: 33px;
    }

    .subcribe-form .card h3 {
        font-size: 33px;
    }
}

@media (max-width: 768px) {
    .contacts-page__header {
        padding: 80px 24px 65px;
        align-items: start;
        flex-direction: column;
        gap: 50px;
    }

    .contacts-page__header__first-column {
        padding: 0;
        width: 200px;
    }

    .contacts-page__header__first-column__text {
        font-size: 16px;  
    }

    .contacts-page__header__first-column__title {
        font-size: 38px;
    }

    .contacts-page__header__second-column__text {
        padding: 0;
    }

    .cards-container {
        gap: 30px;
        flex-wrap: wrap;
    }

    .card {
        width: 90%;
    }

    .card img {
        height: 50px;
        width: 50px;
    }

    .card h3 {
        font-size: 24px;
    }

    .contacts-page__google-maps iframe {
        width: 90%;
    }

    .contacts-page__footer {
        display: inline-block;
    }

    .weekly-schedule {
        position: relative;
        left: 30%; 
        transform: translateX(-30%);
        width: fit-content;
        display: inline-block;
    }

    .weekly-schedule-sequel {
        position: relative;
        left: 25%; 
        transform: translateX(-25%);
        margin-bottom: 30px;
        display: inline-block;
    }

    .weekly-schedule h3{
        width: 200px;
    }

    .weekly-schedule .schedule-dates{
        width: 150px;
    }

    .weekly-schedule-sequel .schedule-dates{
        width: 150px;
    }
}

@media (max-width: 575px) {
    .card {
        margin: 10px 20px 10px 20px;
    }

    .weekly-schedule {
        left: 25%; 
        transform: translateX(-25%);
    }

    .weekly-schedule-sequel {
        left: 20%; 
        transform: translateX(-20%);
    }
}

@media (max-width: 430px) {
    .card {
        margin: 10px 10px 10px 15px;
    }

    .weekly-schedule {
        left: 5%;
        margin-left: 5px;
        transform: translateX(-5%);
    }

    .weekly-schedule-sequel {
        left: 0%;
        margin-left: 15px;
        padding-top: 50px;
        transform: translateX(0%);
    }
}

@media (max-width: 372px) {
    .weekly-schedule {
        left: 65%;
        transform: translateX(-65%);
    }

    .weekly-schedule-sequel {
        left: 45%;
        transform: translateX(-45%);
    }
}
