.header {
    position: relative;
    z-index: 1;
}

.header__top {
    display: none;
}

@media (min-width: 1024px) {

    .header__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    } 
}
.header__top-background {
    padding: 15px;
}
.header__address, .header__email, .header__operating-hours {
    color: var(--light-top-color)!important;
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.header__top address {
 font-style: normal;
}
.header__email a {
    color: var(--light-top-color)!important;
}
.header__logo-img {
    width: 232px;
    height: auto;
}


.header__top-background {
    background: var(--header-top-background);
}
.header__container-background{
    background: var(--header-container-background);
}

.header__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;

}

.header__burger-menu {
    padding-right: 8px;
    padding-left: 8px;
    position: relative;
}

.header__navicon {
    display: block;
    width: 24px;
    height: 2px;
    cursor: pointer;
    background: var(--header__navicon);
}

.header__navicon::before,
.header__navicon::after {
    content: '';
    width: 24px;
    height: 2px;
    background: var(--header__navicon);
    display: block;
    position: absolute;
}

.header__navicon::before {
    top: -8px;
}

.header__navicon::after {
    top: 8px;
}

.header__nav {
    display: none;
}

.header.responsive .header__nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 100px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    z-index: 1;

}

.header__menu-link {
    color: var( --menu-color-link);
    font-family Lato, sans-serif;
    font-weight: 700;
    font-size: 17px;
}
.header__social-icons-img {
    width: 36px;
}

.header__social-icons {
    display: none;
}

@media (min-width: 1024px) {

    .header__social-icons {
        display: flex;
        flex-direction: row;
    }

    .header__burger-menu {
        display: none;
    }

    .header__header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .header__nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
      
    }

    .header__menu {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
}

