
/*DESKTOP FIRST*/
.ingredients__image{
    object-fit: cover   ;  
    width: 100%;
    height: 100%;
}

.ingredients-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 100vh;
}

.ingredients__image-container{
    max-height: 780px;
    height: 100vh;
}

.ingredients__content-container{
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 100px;
    padding-bottom: 100px;
    max-height: 780px;
    height: 100vh;
}
.ingredients__content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 35px;
}

.ingredients__subtitle{
    font-size: 56px;
    font-weight: bold;
    color: var(--text-medium-color);
    font-family: 'Rubik';
}

.ingredients__paragraph{
    font-size: 20px;
}

.ingredients__list{
    line-height: 35px;
}

.ingredients__item{
    font-size: 17px;
    color: var(--text-medium-color);
    font-weight: bold;
    gap: 10px;
}

.ingredients__title{
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: var(--titles-color);
    font-weight: 400;
    text-transform: uppercase;
}

.ingredients__paragraph-desc{
    font-size: 20px;
    color: var(--text-medium-color);
    font-weight: 700;
}

.ingredients__paragraph{
    font-size: 17px;
    color: var(--text-small-color);
    line-height: 25px;
    text-align: left;
    max-width: 100%;
}