.services {
    background-color: var(--background-medium-color);
    padding-top: 90px;
    background: url(../img/img_news/bg-6.jpg);
}

.services-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.services_news {
    color: var(--text-big-color);
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 27.4px;
}

.news_title {
    font-size: 38px;
    font-weight: bold;
    color: var(--text-medium-color);
    font-family: 'Rubik';
    margin-top: 15px;
}

.services__title {
    font-family: 'Permanent Marker', cursive;
    ;
    font-size: 18px;
    color: var(--titles-color);
    font-weight: 400;
    font-stretch: 100%;
    line-height: 22.4px;
    text-align: center;
    text-transform: uppercase;
}




/*_____________*/
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.news_bimage {
    background-image: url("../img/img_news/bg-6.jpg");
    background-position: top center;
    background-size: initial;
}

.news_bl {
    display: flex;
    margin: 32px;
}

.news_text {
    font-family: "Permanent Marker", cursive;
    margin: 0;
    padding-top: 90px;
    padding-bottom: 15px;
    border: 0;
    vertical-align: baseline;
    color: red;
    text-align: center;
    font-style: italic;

}

.news-o {
    display: flex;
}

.news-title {
    color: red;
}

.news-date {
    color: orange;
}
/*
.services-item__title {
    font-family: 'Rubik';
    font-size: 30px;
    color: var(--text-medium-color);
}
*/
.news_title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 15px;
    color: rgb(40, 38, 35);
    font-weight: 800;
}

.news_par {
    font-family: 'Lato', sans-serif;
    color: rgb(40, 38, 35);
    text-align: center;
    font-weight: 400;
}

.news-elem {
    padding-right: 20px;
}

.btn-news {
    margin-top: 20px;
    padding: 16px 28px;
    border-radius: 25px;
    border-style: none;
    background-color: var(--background-top-color);
    color: var(--text-light-color);
    font-weight: 700;
    font-size: 16.5px;
    font-family: 'Lato';
    transition: background-color 0.5s;
}

.btn-news:hover {
    background-color: var(--text-medium-color);
    cursor: pointer;
}