.container{
    padding: 70px 0 40px;
}
.why-item-title{
    font-size: 20px;
    color: var(--text-big-color);
    font-weight: 700;
    line-height: 30px;
}
.why-item-text{
    font-size: 17px;
    color: var(--text-small-color);
    
}
 
.plus-text {
    padding: 12px 0;
}

.services2 {
    background-color: #fbf7ed;
    
}
.hiw-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 44px;
}

@media only screen and (min-width: 768px) {
    .hiw-list {
        gap: 24px;
        margin-bottom: 80px;
    }
}

@media only screen and (min-width: 1280px) {
    .hiw-list {
        flex-direction: row;
        gap: 24px;
    }
}

.hiw-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second-bg);
    border-radius: 10px;
    padding: 20px;
    gap: 14px;
    height: 112px;
    max-width: 389px;
}

@media only screen and (max-width: 375px) {
    .hiw-card {
        max-width: 200px;
    }
}


@media only screen and (min-width: 768px) {
    .hiw-card {
        padding: 40px 20px;
        height: 128px;
    }
}


.step {
    padding: 12px 0;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 400px;
    background: rgb(239, 236, 227);
}






.step-item {
background: (239, 236, 227);
}

@media only screen and (max-width: 767px) {
    .step-item {
        width: 145px;
    }
}

@media only screen and (min-width: 768px) {
    .step-item {
        /*width: 199px;*/
        width: 240px;
    }
}
