.hero {
    padding-left: 24px;
    padding-right: 24px;;
}

@media (min-width: 768px) {
    .hero__content  {
        display: flex;
    }
    .hero__text {
        flex-basis: 60%;
        max-width: 60%;
    }
   .hero__big-img {
        flex-basis: 40%;
        max-width: 40%;
    }
}

.hero__action-phone-img {
    width: 50px;
}
.hero  {
    min-height: 500px;
    background-size: cover;
    background-image: url(../img/hero-background.jpg);
}
.hero__phone-img {
    width: 50px;
}
.hero__title {
    color: var( --hero__title)!important;
}
.hero__content {
    padding-top: 100px;
    padding-bottom: 90px;
}
@media (min-width: 768px) {
    .hero__content {
        padding-top: 150px;
    }
}
.hero__title {
    font-family: "Permanent Marker", sans-serif;
    font-size: 1rem;
}
.hero__slogan { 
    padding-top: 20px;
    font-family: "Rubik, sans-serif", sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
}
@media (min-width: 768px) {
    .hero__slogan { 
        font-size: 4rem;
        font-weight: 700;
    }  
}

.hero__information { 
    font-family: "Lato, sans-serif", sans-serif;
    font-size: 1.25rem;
    margin-top: 35px;
    font-weight: 700;
    line-height: 30px;
    color: var(--hero__information);
}

.hero__actions {
    margin-top: 50px;
}

.hero__button {
    border-radius: 25px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--hero__btn-border) ;
    background-color: var(--hero__btn-color);
    cursor pointer;
    color: var(--hero__light-btn-color);
    font-weight: 700;
    padding: 15px 25px;

}
.hero__phone {
    margin-top: 50px;
}

