.special-offer{
    background-image: url('../img/img-for-special-offer/background.jpg');
    background-size: cover;
}

.special-offer__block{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 50px 0px 130px;
    
    
}
.special-offer__item{
    margin: 10px;
    
    
}

.special-offer__burger{
    background-image: url('../img/img-for-special-offer/burher.jpg');
    background-position:center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 700px;
    min-height: 350px;
    border-radius: 10px;
    
}

.special-offer__salad{
    min-height: 350px;
    min-width: 400px;
    border-radius: 10px;
    background-image: url('../img/img-for-special-offer/salad.jpg');
    background-position:center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

special-offer__item-salad-text{
    
    
}

@media (min-width: 500px) {
    .special-offer__block{
        display: flex;
        flex-direction: row;
    }
}

