.services2 {
    padding-top: 90px;
    background-color: #fbf7ed;
    background-repeat: no-repeat;
    background-position: center;
}
.containerindexplus {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}


.why-item-title{
    font-size: 20px;
    color: var(--text-big-color);
    font-weight: 700;
    line-height: 30px;
}
.why-item-text{
    font-size: 17px;
    color: var(--text-small-color);
}
.plus-text {
    padding: 12px 0;
    background: (239, 236, 227);
}
@media only screen and (max-width: 767px) {
    .step-item {
        width: 145px;
    }
    .why-list {
        gap: 24px;
        margin-bottom: 80px;
    }
}
@media only screen and (min-width: 768px) {
    .step-item {
        width: 280px;
    }
    .why-list{
        gap: 24px;
        margin-bottom: 80px;
    }
}

.why-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 44px;
}

@media only screen and (min-width: 1280px) {
    .why-list{
        flex-direction: row;
        gap: 24px;
    }
}
.why-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    gap: 14px;
    height: 112px;
    max-width: 389px;
    
}

@media only screen and (min-width: 768px) {
    .why-card {
        padding: 40px 20px;
        height: 128px;
        
    }
}

.step {
    padding: 12px 0;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 400px;
    background: rgb(239, 236, 227);
}
