body {
    font-family: 'Lato', sans-serif;
}

:root {
    scroll-behavior: smooth;
    --background-menu-color: #fbbe36;
    --h2-color: #e7272d;
    --ui-light-accent-color: white;
}

img {
    display: block;
    width: 100%;
}

.section__menu-top {
    background-color: var(--background-menu-color);
    height: 255px;
    display: flex;
    width: 100%;
    padding: 80px 0 65px;
    align-items: center;
    justify-content: center;


}

.menu-top-review {
    width: 354px;
    height: 97px;
    padding: 0 15px;

}

.menu-top-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    font-weight: 400;
    color: var(--h2-color);
    height: 25px;
}

.menu-top-subtitle {
    color: var(--ui-light-accent-color);
    font-size: 47px;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    padding: 15px 0 0 0;
}

.menu-top__description {
    color: var(--ui-light-accent-color);
    font-size: 20px;
    font-weight: 700;
    width: 737px;
    padding: 0 15px;
}

.section__menu-container {
    padding: 95px 0;
}

.section__menu-btn {
    width: 1200;
}

.icon-img {
    height: 25px;
    width: 25px;
}

.items-icon-burgers, .items-icon-drinks, .items-icon-salads {
    height: 70px;
    width: 70px;
}