@import "common.css";
@import "header.css";
@import "footer.css";

.hr__bottom-line {
    width: 100%;
    min-width: 10px;
    opacity: 0.5;
    height: 2px;
    flex: 1 1;
    margin: 0 0 3px;
}

.section__menu-top {
    background-color: var(--background-menu-color);
    display: flex;
    width: 100%;
    padding: 80px 0 65px;
    align-items: center;
    justify-content: center;
}

.menu-top-review {
    width: 354px;
    height: 97px;
    padding: 0 15px;
}

.menu-top-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    font-weight: 400;
    color: var(--h2-span-color);
    height: 25px;
}

.menu-top-subtitle {
    color: var(--ui-light-accent-color);
    font-size: 56px;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    padding: 15px 0 0 0;
}

.menu-top__description {
    color: var(--ui-light-accent-color);
    font-size: 20px;
    font-weight: 700;
    max-width: 737px;
    padding: 0 15px;
    line-height: 30px;
}

.background__image {
    width: 100%;
    height: 60px;
    object-fit: cover;
}

.section__menu-container {
    padding: 100px 0;
    position: relative;
    height: 100%;
}

.section__menu-container-image {
    background-image: url(../img/img-for-menu/background-image-leaf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section__menu-btn {
    max-width: 1200px;
    margin: 0 auto;
}

.section__menu {
    max-height: 558px;
    max-width: 1200px;
}

.section__menu-icon-name {
    display: grid;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px 0;
    grid-template-columns: repeat(3, 150px);
}

.menu-icon {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    gap: 17px;
}

.menu-icon:hover {
    opacity: 1;
}

.menu-icon:hover::after {
    width: 100%;
    height: 2px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0px;
    background-color: var(--background-menu-color);
}


.hr-line {
    color: var(--bottom-box-button-hover);
    opacity: 0.2;
    position: relative;
    top: -31px;
}

.icon-img {
    height: 25px;
    width: 25px;
}



.menu-icon-title {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color:  var(--menu-icon-title-color-text);
}

.section__menu-items {
    max-height: 468px;
    margin: 15px 0 0 0;
}

.menu-wrapper-burgers, .menu-wrapper-salads, .menu-wrapper-drinks  {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.menu-wrapper-salads {
    display: none;
}

.menu-wrapper-drinks{
    display: none;
}

.section__menu-burgers-l, .section__menu-burgers-r, .section__menu-salads-l, .section__menu-salads-r, .section__menu-drinks-l, .section__menu-drinks-r {
    max-width: 600px;
    display: grid;
    gap: 15px;
}



.menu-burger, .menu-salads, .menu-drinks {
    height: 102px;
    display: flex;
    padding: 7.5px 0;
}

.menu-img-usually {
    height: 70px;
    width: 70px;
}

.items-icon-burgers, .items-icon-drinks, .items-icon-salads {
    height: 70px;
    width: 70px;
}

.menu-burgers__box, .menu-salads__box, .menu-drinks__box {
    padding: 0 0 0 18px;
}

.menu-burgers-name, .menu-salads-name, .menu-drinks-name {
    display: flex;
    width: 100%;
    height: 36px;
    justify-content: space-between;
    align-items: end;
}

.menu-burgers-name h3 {
    font-size: 20px;
    font-weight: 700;
    padding: 0 5px 0 0;
}

.menu-salads-name h3 {
    font-size: 20px;
    font-weight: 700;
    padding: 0 5px 0 0;
}

.menu-drinks-name h3 {
    font-size: 20px;
    font-weight: 700;
    padding: 0 5px 0 0;
}

.menu-burgers-title, .menu-salads-title, .menu-drinks-title {
    font-size: 17px;
    color: var(--p-menu-burgers-title);
    padding: 5px 0 0 0;
    line-height: 25.5px;
}

.menu-burgers-name span {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    color: var(--h2-span-color);
    padding-left: 5px;
}

.menu-salads-name span {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    color: var(--h2-span-color);
    padding-left: 5px;
}

.menu-drinks-name span {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    color: var(--h2-span-color);
    padding-left: 5px;
}

.menu-btn {
    display: flex;
    margin: 55px 0 auto;
    padding: 0 15px;
    max-width: 100%;
    justify-content: center;
}


.btn-style-inside {
    background-color: var(--background-menu-color);
    font-size: 16.5px;
    font-family: Lato, sans-serif;
    color: var(--ui-light-accent-color);
    font-weight: 700;
    border-radius: 25px;
    max-width: fit-content;
    padding: 16px 28px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-style-inside:hover {
    background-color: var(--bottom-box-button-hover);
}


.section__menu-bottom {
    background-color: var(--background-menu-color);
    display: flex;
    width: 100%;
    padding: 50px 0 40px;
    align-items: center;
    justify-content: center;
}

.menu-bottom-box-h3 {
    max-width: 600px;
    padding: 0 18px 0 15px;
}

.box-h3 {
    font-size: 36px;
    font-family: 'Rubik', sans-serif;
    color: var(--ui-light-accent-color);
}

.menu-bottom-box-title {
    max-width: 400px;
    padding: 0 15px;
    font-size: 15px;
    color: var(--ui-light-accent-color);
    font-weight: 900;
    line-height: 22px;
}

.special {
    color: var(--h2-span-color)
}

.menu-bottom-box-button {
    max-width: 200px;
    padding: 0 33px;
}

.bottom-box-button {
    background-color: var(--h2-span-color);
    font-size: 16.5px;
    font-family: Lato, sans-serif;
    color: var(--ui-light-accent-color);
    font-weight: 700;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 16px 28px;
}

.bottom-box-button:hover {
    background-color: var(--bottom-box-button-hover);
}

@media (max-width: 767px) {
    .section__menu-top {
        background-color: var(--background-menu-color);
        display: flex;
        width: 100%;
        padding: 80px 24px 65px;
        align-items: start;
        flex-direction: column;
        gap: 50px;
    }

    .menu-top-review {
        /* width: 354px; */
        /* height: 97px; */
        padding: 0 15px;
    }

    .menu-top-title {
        font-family: 'Permanent Marker', cursive;
        font-size: 16px;
        font-weight: 400;
        color: var(--h2-span-color);
        height: 25px;
    }

    .menu-top-subtitle {
        color: var(--ui-light-accent-color);
        font-size: 38px;
        font-weight: 700;
        font-family: 'Rubik', sans-serif;
        padding: 15px 0 0 0;
    }

    .menu-top__description {
        color: var(--ui-light-accent-color);
        font-size: 20px;
        font-weight: 700;
        max-width: 737px;
        padding: 0 15px;
        line-height: 30px;
    }

    .section__menu-bottom {
        background-color: var(--background-menu-color);
        display: flex;
        width: 100%;
        padding: 50px 0 40px;
        align-items: start;
        flex-direction: column;
        gap: 50px;
    }

    .box-h3 {
        font-size: 30px;
        font-family: 'Rubik', sans-serif;
        color: var(--ui-light-accent-color);
    }

    .menu-bottom-box-title {
        padding: 0 15px;
        font-size: 14px;
        color: var(--ui-light-accent-color);
        font-weight: 900;
        line-height: 22px;
        max-width: fit-content;
    }

    .menu-bottom-box-button {
        max-width: 200px;
        padding: 0 33px;
        align-self: center;
    }

    .section__menu {
        max-height: 100%;
        max-width: 1200px;
    }

    .section__menu-btn {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 24px;
    }

    .section__menu-icon-name {
        display: grid;
        max-width: 1200px;
        align-items: center;
        margin: 0 0 30px 0;
        grid-template-columns: repeat(3, minmax(90px, 150px));
        justify-content: flex-start;
    }

    .menu-burgers-name span {
        font-size: 24px;
        font-weight: 600;
        font-family: 'Rubik', sans-serif;
        color: var(--h2-span-color);
        padding-left: 5px;
    }

    .section__menu-items {
        max-height: 100%;
        margin: 15px 0 0 0;
    }

    .menu-wrapper-burgers, .menu-wrapper-salads, .menu-wrapper-drinks {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .menu-burger, .menu-salads, .menu-drinks {
        max-width: 100%;
        height: 100%;
        display: flex;
        padding: 7.5px 0;
    }

    .menu-wrapper-salads {
        display: none;
    }

    .menu-wrapper-drinks {
        display: none;
    }

    .section__menu-burgers-l, .section__menu-burgers-r, .section__menu-salads-l, .section__menu-salads-r, .section__menu-drinks-l, .section__menu-drinks-r {
        max-width: 100%;
        display: grid;
        gap: 15px;
    }

    .menu-burgers__box, .menu-salads__box, .menu-drinks__box {
        padding: 0 0 0 18px;
        width: 100%;
    }

    .menu-btn {
        display: flex;
        padding: 0 15px;
        max-width: 100%;
        justify-content: center;
        margin: 0;
    }

}

@media (max-width: 480px) {
    .menu-icon {
        display: flex;
        height: 60px;
        align-items: center;
        justify-content: center;
        opacity: 0.7;
        cursor: pointer;
        transition: all 0.2s ease;
        position: relative;
        gap: 10px;
    }

    .menu-icon-title {
        font-size: 15px;
        font-weight: 700;
        font-family: 'Lato', sans-serif;
        color: var(--menu-icon-title-color-text);
    }

    .icon-img {
        height: 20px;
        width: 20px;
    }

    .menu-top-review {
        padding: 0 15px;
        max-width: 100%;
        max-height: 100%;
    }

    .section__menu-icon-name {
        display: grid;
        max-width: 1200px;
        align-items: center;
        margin: 0 0 30px 0;
        grid-template-columns: repeat(3, minmax(85px, 150px));
        justify-content: flex-start;
    }

    .section__menu-items {
        max-height: 100%;
        margin: 15px 0 0 0;
    }

    .menu-burger, .menu-salads, .menu-drinks {
        max-width: 100%;
        height: 100%;
        display: flex;
        padding: 7.5px 0;
    }

    .menu-img-usually {
        height: 40px;
        width: 40px;
    }

    .items-icon-burgers, .items-icon-drinks, .items-icon-salads {
        height: 40px;
        width: 40px;
    }

    .menu-burgers__box, .menu-salads__box, .menu-drinks__box {
        padding: 0 0 0 18px;
        max-width: 100%;
    }

    .menu-burgers-name, .menu-salads-name, .menu-drinks-name {
        display: flex;
        width: 100%;
        height: 36px;
        justify-content: space-between;
        align-items: end;
    }

    .menu-burgers-name h3 {
        font-size: 14px;
        font-weight: 700;
        padding: 0 5px 0 0;
    }

    .menu-burgers-name span {
        font-size: 16px;
        font-weight: 600;
        font-family: 'Rubik', sans-serif;
        color: var(--h2-span-color);
        padding-left: 5px;
    }

    .menu-burgers-title, .menu-salads-title, .menu-drinks-title {
        font-size: 13px;
        color: var(--p-menu-burgers-title);
        padding: 5px 0 0 0;
        line-height: 25.5px;
    }

    .menu-btn {
        display: flex;
        padding: 0 15px;
        max-width: 100%;
        justify-content: center;
        margin: 0;
    }

    .btn-style-inside {
        background-color: var(--background-menu-color);
        font-size: 10px;
        font-family: Lato, sans-serif;
        color: var(--ui-light-accent-color);
        font-weight: 700;
        border-radius: 25px;
        max-width: fit-content;
        padding: 16px 28px;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .menu-top-title {
        font-family: 'Permanent Marker', cursive;
        font-size: 15px;
        font-weight: 400;
        color: var(--h2-span-color);
        height: 25px;
    }

    .menu-top-subtitle {
        color: var(--ui-light-accent-color);
        font-size: 30px;
        font-weight: 700;
        font-family: 'Rubik', sans-serif;
        padding: 15px 0 0 0;
    }

    .menu-top__description {
        color: var(--ui-light-accent-color);
        font-size: 15px;
        font-weight: 700;
        max-width: 737px;
        padding: 0 15px;
        line-height: 30px;
    }

}