.schedule {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: url("img/head-of-block.svg");
  background-color: var(--weekly-color-main);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.schedule__back {
  min-width: 320px;
  max-width: auto;
}

.schedule-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.schedule__title {
  font-family: Rubik, sans-serif;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  text-align: left;
  color: var(--weekly-title-color);
}

.schedule__description {
  font-family: Lato, sans-serif;
  font-size: 20px;
  text-align: center;
  color: var(--weekly-description-color);
  line-height: 30px;
  text-align: left;

}

.schedule_contact img {
  width: 26px;
  height: 26px;
}

.shedule__contact-link {
  color: var(--weekly-link-color);
}

.schedule__contact-title {
  color: var(--weekly-title-color);
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.schedule-carousel {
  display: flex;
  position: relative;
  overflow: hidden;
}

.shedule__carousel-slides {
  flex: 1;
  justify-content: space-around;
}

.schedule-carousel {
  grid-template-columns: 40px 1fr 40px;
  min-height: 150px;
}

.schedule-carousel div {
  display: flex;
  flex-direction: column;
}

.shedule-carousel__button-prev {
  left: 10;
}

.shedule-carousel__button--next {
  right: 10;
}

.carousel__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__inner {
  display: flex;
  flex-direction: row;
  position: relative;
}

.schedule-carousel {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.shedule-carousel__button-prev {

  height: 32px;
  width: 32px;
  background-color: var(--button-color);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 30%;
  bottom: 70%;
  transform: scaleX(-1);
}

.shedule-carousel__button--next {
  height: 32px;
  width: 32px;
  background-color: var(--button-color);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 30%;
  bottom: 70%;
}

.info__carousel {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.button-arrow {
  fill: var(--text-light-color);
}