.schedule {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: url("img/head-of-block.svg");
  background-color: var(--weekly-color-main);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.schedule__back {
  min-width: 320px;
  max-width: auto;
}

.schedule-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.schedule__title {
  font-family: Rubik, sans-serif;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  text-align: left;
  color: var(--weekly-title-color);
}

.schedule__description {
  font-family: Lato, sans-serif;
  font-size: 20px;
  text-align: center;
  color: var(--weekly-description-color);
  line-height: 30px;
  text-align: left;

}

.schedule_contact img {
  width: 26px;
  height: 26px;
}

.shedule__contact-link {
  color: var(--weekly-link-color);
}

.schedule__contact-title {
  color: var(--weekly-title-color);
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.schedule-carousel {
  display: flex;
  position: relative;
  overflow: hidden;
}

.shedule__carousel-slides {
  flex: 1;
  justify-content: space-around;
}
.schedule-carousel .carousel__button {
  position: absolute;  
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.schedule-carousel .carousel__button--prev {
  left: 10px;
}

.schedule-carousel .carousel__button--next {
  right: 10px;
}
.schedule-carousel .carousel__inner{
  display: flex;
    transition: transform 0.5s ease-in-out;
  
}